<h3 class="ui header">{{t 'forms.new-platform-digital-subscription-application-user-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.email
    class=(if model.errors.email 'error' '')
    label=(t 'forms.new-platform-digital-subscription-application-user-e.email-caption')
  }}
  {{flexberry-validationmessage error=model.errors.email pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.lastName
    class=(if model.errors.lastName 'error' '')
    label=(t 'forms.new-platform-digital-subscription-application-user-e.lastName-caption')
  }}
  {{flexberry-validationmessage error=model.errors.lastName pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.firstName
    class=(if model.errors.firstName 'error' '')
    label=(t 'forms.new-platform-digital-subscription-application-user-e.firstName-caption')
  }}
  {{flexberry-validationmessage error=model.errors.firstName pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.middleName
    class=(if model.errors.middleName 'error' '')
    label=(t 'forms.new-platform-digital-subscription-application-user-e.middleName-caption')
  }}
  {{flexberry-validationmessage error=model.errors.middleName pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.new-platform-digital-subscription-application-user-e.birthdate-caption'}}</label>
  {{
    flexberry-datepicker
    placeholder=(t 'components.flexberry-datepicker.placeholder')
    readonly=readonly
    value=model.birthdate
    class=(if model.errors.birthdate 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.birthdate pointing="pointing"}}
</div>

</form>
